<ul class="playerCardsList">	
	<% if current_user.player %>	
		<% current_user.player.player_cards.each do |card| %>	
			<li>
				<%= link_to put_card_url(:suite => card.suite, :rang => card.rang), remote: true , :method => :post do %>
					<div class="playerModernCards">
						<div class="mRang">
							<%= make_rank (card) %>						
						</div>
						<div class="mSuite">
							<%= make_suite (card.suite) %>						
						</div>
						<div class="m<%= card.rang.to_s + card.suite.to_s %>"></div>				
					</div>
				<% end %>
			</li>
		<% end %>
	<% end %>
</ul>