<h3 ng-if="currentGame.game_mover == currentGame.current_user">Your move</h3>
<h3 ng-if="currentGame.game_mover != currentGame.current_user">Your opponents move</h3>
<div class='col-md-11 yieldcontent'>
 <div class="row wood">
   <div style="height: 400px" id="table_row_game" class="row">
    <div id="table_cards" >
     <ul>
     	<div class="col-xs-9">
      		<li  style = "display: inline"  ng-repeat="card in currentGame.table_cards"><img style="width: 100px;" ng-src="assets/{{card.rang+card.suite}}.png"/>
      		</li>
      	</div>
      	<li class="col-xs-2">
      		<div ng-if="deckCounter > 2" >
				<ul >	
					<li class="tableCardsList hitCards">
						<img ng-src="assets/{{currentGame.deck_trump.rang+currentGame.deck_trump.suite}}.png" class="deckCards" />
					</li>
					<li class="tableCardsList defenceCards">
						<img ng-src="assets/deck.png"  class="deckCards" />
					</li>
				</ul>
	  		</div>
			<div ng-if="deckCounter == 2" >
				<ul class="tableCardsList hitCards">
					<li>
						<img ng-src="assets/{{currentGame.deck_trump.rang + currentGame.deck_trump.suite}}.png"  class="deckCards"/>
					</li>
				</ul>
				<ul class="tableCardsList defenceCards">
					<li>
						<img ng-src="back.png"  class="deckCards" />
					</li>
				</ul>
			</div>
			<div ng-if="deckCounter == 1" >
				<ul class="tableCardsList hitCards">
					<li>
						<img ng-src="assets/{{currentGame.deck_trump.rang + currentGame.deck_trump.suite}}.png"  class="deckCards"/>
					</li>
				</ul>
			</div>
			<div ng-if="deckCounter == 0">
				<ul class="tableCardsList hitCards">
					<li>
					</li>
				</ul>
			</div>
      	</li>
      </ul>
    </div>
   </div>
   <div id="table_row_player" class="row" style="display: inline-block">
    <div id="table_player_cards" class="col-xs-10">
     <ul>
      <li style="display: inline"  ng-repeat="card in currentGame.player_cards | toArray | orderBy:['-suite', '-rang']" data-ng-click="putCard(card)"><img style="width: 100px;" ng-src="assets/{{card.rang+card.suite}}.png">
      </li>

     </ul>
    </div>
    <div id="table_controls" class="col-xs-2" style="display: inline-block">
      <div ng-click="endTurn()" class="table_button">
       <span class="glyphicon glyphicon-repeat" aria-hidden="true" >&nbsp;</span><span>End&nbsp;Turn</span>
      </div>
      <div ng-click="endGame()" class="table_button">
       <span class="glyphicon glyphicon-flag" aria-hidden="true" >&nbsp;</span><span>End&nbsp;Game</span>
      </div>
     <div>
     </div>
    </div>
   </div>
 </div>
</div>