<div class = "row">
    <div class = "col-md-10 pull-right">
        <div class = "jumbotron text-center">
            <h2>Games</h2>
            <div class = "table table-striped" id = "card_games"><%= render 'games' %></div>
         <%= link_to 'New game', new_game_path, :class => 'btn btn-success' %>
        </div>
    </div>