<div class='col-md-12 yieldcontent'>
  	<div class="row">
		<div class="jumbotron jumboart text-center">
            <%= image_tag("newgame.png", class: "textart") %>

    	</div>
        <div class="tablePad">

			<%= render 'form' %>
			
		</div>
	</div>
</div>