<div class='col-md-12 yieldcontent'>
    <div class="row">
        <div class="jumbotron jumboart text-center">
            <%= link_to new_game_path do%>
                <h2 class="text-center">NEW GAME</h2>
            <% end %>
        </div>
        <% if @games.count > 0 %>
            <div id = "card_games" class="tablePad">
              <h2 class="text-center">Games</h2>
              <%= render 'games' %>
            </div>
        <% else %>
            <div id = "card_games" class="tablePad">
              <h2 class="text-center">Nobody plays(</h2>
              <%= render 'games' %>
            </div>
        <% end %>
    </div>
</div>

<% content_for :index do %>
  <script type="text/javascript">
    $(document).ready(function () {
   		setInterval(function(){
		refreshIndex();
		}, 10000); 
	});

	function refreshIndex() {
  		$.ajax({
          	url: "<%= @games %>",
          	dataType: "script" 
 		})
	};
  </script>
<% end %>