<ul class="tableCardsList">
	<% if current_user.player.game.table != nil %>
		<% current_user.player.game.table.table_cards.each do |card| %>
			<li>
				<%= image_tag("#{card.rang}#{card.suite}.png", class: "tableCards") %>
			</li>
		<% end %>	
	<%end%>
</ul>