/*-------------------TURN INFO PANEL*/

.turnInfo {
	background-color: black !important;
	color: #C4C4C4;
	background-color: #222222 !important;
	box-shadow: inset 0px 0px 20px 3px rgba(0, 0, 0, 0.6) !important;
	border-color: #090909 !important;
	border-radius: 4px 4px 0 0 !important;
	margin: 0 0 0 0 !important;
}

#turnInfoButton{
	transition: color 0.3s;
}
#turnInfoButton:hover {
	color: #fc9200;	
	text-shadow: 0 0 3px #fc9200 !important;	
	transition: text-shadow 0.5s;
}


.panel-body .popover {
	color: #222222 !important;
}



/*-------------------GAME TABLE*/

#gameTable {
	min-width: 660px;
	padding: 0 0 0 0;
}

#table_row_game, #table_row_player {
	margin: 0 0 0 0;
	padding-top: 15px;
}
#table_row_player {	
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 0 0 4px 4px;
}

#table_cards, #table_deck {
	height: 265px;
	margin: 50px 0 0 0;
}
#table_player_cards {
	margin: 0 0 0 0;
}



/*-------------------CARDS LISTS*/

.defenceCards {
	margin: -70px 0 0 0;
}
.defenceCards li, .defenceCards .playerCards, .defenceCards .t_playerCards, .defenceCards .t_Deck, .defenceCards .t_Back {
	box-shadow: 0px -5px 3px -3px rgba(0, 0, 0, 0.6);
}



.playerCardsList, .tableCardsList {
	list-style-type: none;
	padding: 0 0 0 0;
}

.playerCardsList li {
	display: inline-block;
}

.tableCardsList li {
	display: inline-block;
}



/*-------------------TABLE CARDS BASE*/

.t_playerCards {
	width: 85px;
	height: 123px;
	position: relative;
	box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.4);
	font-size: 22px;
}

.t_playerCardsPad{
	width: 85px;
	height: 123px;
}

.t_playerDeck {
	width: 85px;
	height: 132px;  
	background-color: white;
	position: relative;
	box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.4);
}




/*-------------------PLAYER CARDS BASE - media rules below*/

.playerCards {
	width: 100px;
	height: 145px;
	position: relative;
	box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.4);	
 	font-size: 22px;
}

.playerCardsPad {
	width: 100px;
	height: 145px;
}

.redSuite {
	color: red;
}
.blackSuite {
	color: black;
}



/*-------------------TABLE PLAYER CONTROLS*/

#table_controls span {
	text-decoration: none;
}
#table_controls span:hover {
}
#table_controls a {
	text-decoration: none;
}

.table_button {
	min-width: 96px;
	margin: 15px;
	margin-left: 0px;
	color: #C4C4C4;
	text-decoration: none;
	transition: color 0.3s;
}
.table_button:hover {
	color: #fc9200 !important;	
	text-shadow: 0 0 3px #fc9200;	
	transition: text-shadow 0.5s;
}



/*---------------------------------------------------------------MEDIA RULES*/

@media (max-width: 992px) {
	.playerCards {
		width: 85px;
		height: 123px;
	}

	.playerCardsPad {
		width: 85px;
		height: 123px;
	}
}