.navbar-brand > img {
	display: inline-block !important;	
}

.navbar-form {
	margin-right: 0 !important;
}

li .popover {
	width: 250px;
}

/*.mainHeader {
	height: 80px;
	min-width: 680px;
	width: 100%;
	background-color: grey;
}

.headerLogo, .headerMenu, .headerUserBar, .headerFormWarp, .headerForm {
	display: inline-block;		
	vertical-align: middle;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	background-color: yellow;
}

.headerLogo {
	background-color: orange;
}

.logo {
	float: left;
	color: white;
	font-weight: bold;
	font-style: italic;
	font-size: 35px;
	vertical-align: middle;
}

.headerMenu li {
	display: inline-block;
	list-style-type: none;
}
 
.leftHeader {
	display: inline-block;		
	vertical-align: middle;
	float: left;
	width: 50%;
}

.rightHeader {
	display: inline-block;	
	vertical-align: middle;
	float: right;
	width: 50%;
}*/