#mainHead {
	height: 80px;
	/*padding-top: 15px;*/
}
#logo img {
	height: 70px;
}

#userDropdown, .logInGroup {
	color: #C4C4C4;
	height: 78px !important;
	padding-top: 43px !important;
	transition: color 0.3s !important;
}

#userDropdown:hover {
	color: #fc9200;
	text-shadow: 0 0 3px #fc9200 !important;	
	transition: text-shadow 0.5s;
}

.navbar-inverse .navbar-nav > .open > a {
	color: #fc9200 !important;
}

.dropdown-menu a {
	transition: color 0.3s;
}
.dropdown-menu a:hover {
	color: #fc9200 !important;
	text-shadow: 0 0 1px #fc9200 !important;	
	transition: text-shadow 0.5s;
}

.navbar-top {
	border-radius: 0 0 0 0 !important;
	margin-bottom: 0 !important;
}

.navbar-brand > img {
	display: inline-block !important;	
}

.navbar-form {
	margin-right: 0 !important;
}

li .popover {
	width: 250px;
}

#headNav {
	height: 25px;
	margin-bottom: 20px;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 0 0 4px 4px;
}

#headNav span {
	margin: 0 15px 0 0;
}
#headNav a {
	color: #C4C4C4;
	text-decoration: none;
	transition: color 0.3s;
}
#headNav a:hover {
	color: #fc9200;	
	text-shadow: 0 0 3px #fc9200 !important;	
	transition: text-shadow 0.5s;
}


.navbar-bottom {
	border-radius: 4px 4px 0 0 !important;
}
