.navbar-top {
	border-radius: 0 0 4px 4px !important;
}

.navbar-brand > img {
	display: inline-block !important;	
}

.navbar-form {
	margin-right: 0 !important;
}

li .popover {
	width: 250px;
}


.navbar-bottom {
	border-radius: 4px 4px 0 0 !important;
}