.jumboart {
	height: 120px;
	padding-top: 48px !important;
	margin-bottom: 0 !important;
	border-radius: 0 0 0 0 !important;
}


.jumboart h2, .jumboart a {
	text-decoration: none;
	margin: 0 0 0 0;
}
.jumboart h2 {
	font-family: "Nightclub BTN Cn", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);	
	color: #960004;
	font-weight: bold;
	transition: color 0.3s;	
}
.jumboart a {
	color: #fc9200;
}


.jumboart h2:hover {
	text-shadow: 0 0 3px #960004 !important;
	text-decoration: none;
	transition: text-shadow 0.5s;
	color: #fc9200;	
}

.jumboart a:hover {
	color: #fc9200 !important;
	text-shadow: 0 0 1px #fc9200 !important;
	text-decoration: none;	
	transition: text-shadow 0.5s;	
}




/*NEW GAME FORM*/

#newGameFormPad {

	background-color: #eeeeee;	
}

#newGameForm {
	color: #960004;
	padding: 0 50px;
}


#newGameForm .input-group-addon {
	color: #960004;
	font-weight: bold;
    min-width:150px;
    text-align: left;
}

#newGameForm input[type=submit]{
	width: 100%;
	height: 83px;
	padding: 0 0 0 0;
	background-color: white;
	color: #960004;
	font-weight: bold;	
	text-align: center;
}

#newGameForm input[type=submit]:focus {
	outline-color: #fc9200;
}


.formHiden {
	display: none;
}
.formShow {
	display: initial;
}


