.jumboart {
	height: 120px;
	padding-top: 48px !important;
	margin-bottom: 0 !important;
	border-radius: 0 0 0 0 !important;
}


.jumboart h2, .jumboart h5 {
	text-decoration: none;
	margin: 0 0 0 0;
}
.jumboart h2 {
	font-family: "Nightclub BTN Cn", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);	
	color: #960004;
	font-weight: bold;
	transition: color 0.3s;	
}
.jumboart h5 {
	color: #fc9200;
	margin: 5px 0 0 0;
}


.jumboart h2:hover {
	text-shadow: 0 0 3px #960004 !important;
	text-decoration: none;
	transition: text-shadow 0.5s;
	color: #fc9200;	
}

.jumboart h5:hover {
	color: #fc9200 !important;
	text-shadow: 0 0 1px #fc9200 !important;
	text-decoration: none;	
	transition: text-shadow 0.5s;	
}

#newGameLogo, #userSettings {
	cursor: pointer;
}

