html {
	background-color: #222222;
}

.maincontent {
	/*border-radius: 4px;*/
	min-height: 470px;
	margin-bottom: 20px;

}

.fblinks {
	/*float: left;*/
	margin: 0 50px 0 0;
	display: inline-block;
}

.centertext {
	text-align: center;
}

div.divCenter ul {
	display: inline-block;
	margin: 0, auto;
}