
.tablePad {
	text-align: center;	
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 20px;
	padding-top: 20px;
	margin: 30px 0 0 0 !important;
	color: #960004;	
	background-color: #eeeeee;
}

.tablePad h2 {
	font-family: "Nightclub BTN Cn", "Helvetica Neue", Helvetica, Arial, sans-serif;
 	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);	
	margin: 0;
}

.gamestable {
	color: #960004;
	background-color: white;
	text-align: left !important;
	margin: 20px 0 0 0;
}

.gamestable td {
	color: #fc9200;
	max-width: 130px;
	overflow: auto;
	word-wrap: break-word;
	vertical-align:middle;
}
