.tableModern {
	background-size: cover;
	box-shadow: inset 0px 0px 30px 10px rgba(0, 0, 0, 0.6);
	border-radius: 0 0 4px 4px !important;	
	background-image: url("concrete3.jpg");
}


.ModernRang {
	position:absolute;
 	top: 0;
 	left: 5px;
}
.ModernSuite {
	position:absolute;
 	top: 1em;
 	left: 5px;
}



/*------------------------------------------------------------------------PLACEHOLDERS*/

%cardsBG {
	background-size: cover;
	box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.4);
}



/*------------------------------------------------------------------------PLAYER CARDS*/

.Modern0clubs, .Modern1clubs, .Modern2clubs, .Modern3clubs, .Modern4clubs,
.Modern0spades, .Modern1spades, .Modern2spades, .Modern3spades, .Modern4spades {
	@extend %cardsBG;
	background-image: url("black_fist3.png");
}
.Modern0diamonds, .Modern1diamonds, .Modern2diamonds, .Modern3diamonds, .Modern4diamonds,
.Modern0hearts, .Modern1hearts, .Modern2hearts, .Modern3hearts, .Modern4hearts {
	@extend %cardsBG;
	background-image: url("red_fist3.png");
}

.Modern5clubs {
	@extend %cardsBG;
	background-image: url("m5clubs.png");
}
.Modern5diamonds {
	@extend %cardsBG;
	background-image: url("m5diamonds.png");
}
.Modern5hearts {
	@extend %cardsBG;
	background-image: url("m5hearts.png");
}
.Modern5spades {
	@extend %cardsBG;
	background-image: url("m5spades.png");
}
.Modern6clubs {
	@extend %cardsBG;
	background-image: url("m6clubs.png");
}
.Modern6diamonds {
	@extend %cardsBG;
	background-image: url("m6diamonds.png");
}
.Modern6hearts {
	@extend %cardsBG;
	background-image: url("m6hearts.png");
}
.Modern6spades {
	@extend %cardsBG;
	background-image: url("m6spades.png");
}
.Modern7clubs {
	@extend %cardsBG;
	background-image: url("m7clubs.png");
}
.Modern7diamonds {
	@extend %cardsBG;
	background-image: url("m7diamonds.png");
}
.Modern7hearts {
	@extend %cardsBG;
	background-image: url("m7hearts.png");
}
.Modern7spades {
	@extend %cardsBG;
	background-image: url("m7spades.png");
}
.Modern8clubs {
	@extend %cardsBG;
	background-image: url("m8clubs.png");
}
.Modern8diamonds {
	@extend %cardsBG;
	background-image: url("m8diamonds.png");
}
.Modern8hearts {
	@extend %cardsBG;
	background-image: url("m8hearts.png");
}
.Modern8spades {
	@extend %cardsBG;
	background-image: url("m8spades.png");
}



/*------------------------------------------------------------------------TABLE CARDS*/

.t_Modern0clubs, .t_Modern1clubs, .t_Modern2clubs, .t_Modern3clubs, .t_Modern4clubs,
.t_Modern0spades, .t_Modern1spades, .t_Modern2spades, .t_Modern3spades, .t_Modern4spades {
	@extend %cardsBG;
	background-image: url("black_fist3.png");
}
.t_Modern0diamonds, .t_Modern1diamonds, .t_Modern2diamonds, .t_Modern3diamonds, .t_Modern4diamonds,
.t_Modern0hearts, .t_Modern1hearts, .t_Modern2hearts, .t_Modern3hearts, .t_Modern4hearts {
	@extend %cardsBG;
	background-image: url("red_fist3.png");
}


.t_Modern5clubs {
	@extend %cardsBG;
	background-image: url("m5clubs.png");
}
.t_Modern5diamonds {
	@extend %cardsBG;
	background-image: url("m5diamonds.png");
}
.t_Modern5hearts {
	@extend %cardsBG;
	background-image: url("m5hearts.png");
}
.t_Modern5spades {
	@extend %cardsBG;
	background-image: url("m5spades.png");
}
.t_Modern6clubs {
	@extend %cardsBG;
	background-image: url("m6clubs.png");
}
.t_Modern6diamonds {
	@extend %cardsBG;
	background-image: url("m6diamonds.png");
}
.t_Modern6hearts {
	@extend %cardsBG;
	background-image: url("m6hearts.png");
}
.t_Modern6spades {
	@extend %cardsBG;
	background-image: url("m6spades.png");
}
.t_Modern7clubs {
	@extend %cardsBG;
	background-image: url("m7clubs.png");
}
.t_Modern7diamonds {
	@extend %cardsBG;
	background-image: url("m7diamonds.png");
}
.t_Modern7hearts {
	@extend %cardsBG;
	background-image: url("m7hearts.png");
}
.t_Modern7spades {
	@extend %cardsBG;
	background-image: url("m7spades.png");
}
.t_Modern8clubs {
	@extend %cardsBG;
	background-image: url("m8clubs.png");
}
.t_Modern8diamonds {
	@extend %cardsBG;
	background-image: url("m8diamonds.png");
}
.t_Modern8hearts {
	@extend %cardsBG;
	background-image: url("m8hearts.png");
}
.t_Modern8spades {
	@extend %cardsBG;
	background-image: url("m8spades.png");
}



/*---------------------------------------------------------------DECK AND BACK*/

.t_ModernDeck {
	background-size: cover;
	box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.4);
	width: 85px;
	height: 132px;
	background-image: url("modernDeck.png");
}

.t_ModernBack {
	background-size: cover;
	box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.4);
	background-image: url("modernBack.png");
}